name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Install Helm dependencies
        run: |
          # Add the Zazuko Helm repository
          helm repo add zazuko https://charts.zazuko.com

          # Iterate over all charts in the zazuko directory
          for chart in zazuko/*; do
            echo "- ${chart}"
            helm dependency update "${chart}"
            echo ""
          done

      - name: Run helm-docs
        uses: losisin/helm-docs-github-action@v1.7.1
        with:
          chart-search-root: zazuko
          git-push: true
          git-commit-message: "docs: update chart documentation"
          template-files: "../.github/docs/helm-docs.tpl.md"

      - name: Import GPG key
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --dearmor --output keyring.gpg

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: zazuko
          skip_existing: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_KEY: "Zazuko Helm Charts"
          CR_KEYRING: keyring.gpg
          CR_SIGN: true
